[General]
; Uses integer values from EditorPlugin.DockSlot
dock_slot = 5

; Root directory to scan for command scripts when adding new command
command_root_dir = "res://addons/commando/commands/"

; Directory containing command icons
command_icons_dir = "res://addons/commando/icons/"

; Default fallback for command icon
default_command_icon = "res://addons/commando/icons/command.svg"

; Directories starting with this character are ignored
excluded_prefix = "_"

; Step value for float properties
float_step = 0.01

; Display enum values after colon in EnumProperties
display_enum_values = false

; Should categories display their colors in Add New Command window?
use_category_colors = true


[ExcludedDirectories]
; Add directories that should be excluded from scanning for commands here
0 = "custom"
1 = "deprecated"
2 = "experimental"


[CategoryOrder]
; Omitted categories will be added at the end in alphabetical order 
; (unless excluded in ExcludedDirectories)
0 = "advanced"
1 = "debug"
2 = "flow"
3 = "variables"


[Colors]
; Colors for widgets of given category
default = "#40484c"
advanced = "#b72d22"
combat = "#ba3030"
debug = "#545454"
dialog = "#3b8bf2"
variables = "#d35e23"
flow = "#33395e"
world = "#006400"
